extends ../layout

block content
  
  a.boton.boton-nueva(href="/ubicacion/nueva") 
    i.fas.fa-plus
    | Nueva Ubicación

  a.boton.boton-nueva(href="/ubicaciones/lista") 
    i.fas.fa-plus
    | Volver a la lista

  .ubicaciones-container
    h1.ubicaciones-title Lista de Ubicaciones
    ul.ubicaciones-grid
      
        li.ubicacion-card
          .ubicacion-info
            p.ubicacion-detail
              span.detail-label Estación:
              span.detail-value #{ubicacion.nombre_estacion}
            p.ubicacion-detail
              span.detail-label Dirección:
              span.detail-value #{ubicacion.direccion}
            p.ubicacion-detail
              span.detail-label Latitud:
              span.detail-value #{ubicacion.latitud}
            p.ubicacion-detail
              span.detail-label Longitud:
              span.detail-value #{ubicacion.longitud}

          form.delete-form(action=`/ubicaciones/${ubicacion.ubicacion_id}/eliminar`, method="POST")
            button.delete-button(type="submit") Eliminar
          
          
          form.actualizar-form(action=`/ubicaciones/${ubicacion.ubicacion_id}/actualizar`, method="POST") 
            button.actualizar-button(type="submit") Actualizar
