extends ../layout

block content
  if user && user.roles === 'ADMIN'   
    a.boton.boton-nuevo(href="/bicicletas/nueva") 
      i.fas.fa-plus
      | Nueva Bicicleta

  .bicicletas-container
    h1.bicicletas-title Lista de Bicicletas
    ul.bicicletas-grid
      each bicicleta in bicicletas
        li.bicicleta-card
         a.bicicleta-link(href=`/bicicletas/${bicicleta.bicicleta_id}` style="text-decoration: none;")
            .bicicleta-info
              p.bicicleta-detail
                span.detail-label Marca:
                span.detail-value #{bicicleta.marca}
              p.bicicleta-detail
                span.detail-label Tipo:
                span.detail-value #{bicicleta.tipo}
              p.bicicleta-detail
                span.detail-label Estado:
                span.detail-value(class=`estado-${bicicleta.estado.replace(/\s+/g, '-')}`) #{bicicleta.estado}

            if user && user.roles === 'ADMIN'        
              form.delete-form(action=`/bicicletas/${bicicleta.bicicleta_id}/eliminar`, method="POST")
                button.delete-button(type="submit") Eliminar
            
            if user && user.roles === 'ADMIN'  
              form.actualizar-form(action=`/bicicletas/${bicicleta.bicicleta_id}/actualizar`, method="POST")  
                button.actualizar-button(type="submit") Actualizar
