extends ../layout 

block content 
    .edit-container 
        h1-edit-title Editar Usuario 
        form.edit-form(action=`/usuarios/${usuario.usuario_id}`, method="POST")
            .form-group 
                label.form.label(for="email") Email: 
                input.form-input(type="text" name="email" id="email" value=usuario.email, required)
            
            .form-group 
                label.form.label(for="contraseña") Contraseña: 
                input.form-input(type="text" name="contraseña" id="contraseña" value=usuario.contraseña, required)

            .form-group 
                label.form.label(for="nombre") Nombre: 
                input.form-input(type="text" name="nombre" id="nombre" value=usuario.nombre, required)
            
            .form-group 
                label.form.label(for="apellido") Apellido: 
                input.form-input(type="text" name="apellido" id="apellido" value=usuario.apellido, required)
            
            .form-group 
                label.form.label(for="telefono") Telefono: 
                input.form-input(type="tel" name="telefono" id="telefono" value=usuario.telefono, required)
            
            .form-group 
                label.form.label(for="email") Direccion: 
                input.form-input(type="text" name="direccion" id="direccion" value=usuario.email, required)
            
            .form-group 
            button.update-button(type="submit") Actualizar usuario
            
            
            
            
                