extends ../layout 
block styles
    link(rel='stylesheet', href='/css/usuarios.css')

block content 
    .usuarios-container 
        h1.usuarios.title Hola  #{usuario.nombre} #{usuario.apellido}

        ul.usuarios-grid 

            li.usuario-card 
                .usuario-info 
                    h4  Esta es tu información de usuario
                    p.usuario-detail 
                        span.detail-label Nombre: 
                        span.detail-value #{usuario.nombre}
                    p.usuario-detail 
                        span.detail-label Apellido: 
                        span.detail-value #{usuario.apellido} 
                    p.usuario-detail 
                        span.detail-label Email: 
                        span.detail-value #{usuario.email}    
                    p.usuario-detail
                        span.detail-label Telefono: 
                        span.detail-value #{usuario.telefono} 
                    p.usuario-detail 
                        span.detail-label Direccion: 
                        span.detail-value #{usuario.direccion} 
                    p.usuario-detail 
                        span.detail-label Fecha de registro: 
                        span.detail-value #{usuario.fecha_registro}

                   
