extends ../layout 

block content 
    .contenedor 
        .encabezado 
            h1.titulo Lista de alquileres 
            a.boton.boton-nuevo(href="/alquileres/nuevo") 
                i.fas.fa-plus 
                | Nuevo Alquiler 

        .contenedor-tabla 
            table.tabla 
                thread 
                    tr  
                        th ID Alquiler 
                        th ID Usuario 
                        th ID Bicicleta 
                        th ID Recogida 
                        th ID Entrega 
                        th fecha_inicio 
                        th fecha_fin 
                        th Duracion 
                        th Costo 
                tbody 

                    tr 
                        td= alquiler.alquiler_id 
                        td= alquiler.usuario_id 
                        td= alquiler.bicicleta_id 
                        td= alquiler.recogida_id 
                        td= alquiler.entrega_id 
                        td= alquiler.fecha_inicio 
                        td= alquiler.fecha_fin 
                        td= alquiler.duracion 
                        td= alquiler.costo 
                        td.acciones 
                            a.boton.boton-editar(href=`/alquileres/${alquiler.alquiler_id}/actualizar`)
                                i.fast.fa-edit 
                                | Editar 
                            form.formulario-eliminar(action=`/alquileres/${alquiler.alquiler_id}/eliminar` method="POST") 
                                input(type="hidden" name="_method" value="DELETE") 
                                button.boton.boton-eliminar(type="submit" onclick="return confirm('¿Estás seguro de eliminar este alquiler?')" )
                                    i.fas.fa-trash 
                                    | Eliminar 



